<head>
    <link rel="stylesheet" href="main.css">
</head>

<body>

<div id="mainbg"><img src="images/Breachers_Skyscraper_Rappel_4K.png"></div>


<div class="login-box">
    <div id="breacherlogo"></div>    
    <h2>
        <img src="images/BreachersLogo_Transparant.png">
    </h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login 
          </a>
          <a href="#">
              <span></span>
              <span></span>
              <span></span>
            Create Account
          </a>
          <div class="signup-message">
              <a href="#">Forgot your password?</a>
          </div>
    </form>
</div>

</body>