<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

<div class="login-box">
    <h2>BREACHERS VR</h2>
    <div id="breacherlogo"><img src="{{ url_for('static', filename='images/BreachersLogo_Transparant.png') }}"></div>

    <!-- Registration Form -->
    <form action="{{ url_for('submit') }}" method="post" id="registerForm">
        <!-- Username field -->
        <div class="user-box">
            <input type="text" class="form-control" id="username" name="username" required>
            <label for="username" class="form-label">Username</label>
        </div>
        <!-- Email field -->
        <div class="user-box">
            <input type="email" class="form-control" id="email" name="email" required>
            <label for="email" class="form-label">Email</label>
        </div>
        <!-- Password field -->
        <div class="user-box">
            <input type="password" class="form-control" id="password" name="password" required>
            <label for="password" class="form-label">Password</label>
        </div>
        <!-- Confirm Password field -->
        <div class="user-box">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            <label for="confirm_password" class="form-label">Confirm Password</label>
        </div>
        <!-- Register button -->
        <a href="javascript:void(0);" onclick="document.getElementById('registerForm').submit();" class="styled-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
        </a>
        <!-- Log In button -->
        <a href="{{ url_for('login') }}" class="styled-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Log In
        </a>
        <!-- Link for Forgot Password -->
        <div class="signup-message">
            <a href="#">Forgot your password?</a>
        </div>
    </form>
</div>

</body>
