<head>
    <link rel="stylesheet" href="main.css">
</head>

<body>
html ref

<div class="login-box">

    <h2>BREACHERS VR</h2>#
        <div id="breacherlogo"><img src="images/BreachersLogo_Transparant.png"></div>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login 
          </a>
          <a href="#">
              <span></span>
              <span></span>
              <span></span>
            Create Account
          </a>
          <div class="signup-message">
              <a href="#">Forgot your password?</a>
          </div>
    </form>
</div>

</body>