{% extends 'RCL_Main_Template.html' %}
 
{% block title %}
    Login
{% endblock %}
 
{% block header %}
<!-- Header Content -->
{% endblock %}
 
{% block content %}
<body>
    <div class="container">
        <h1>User Profile</h1>
        <!-- Other profile information goes here -->
    </div>
    <div class="login-box">
        <h2>BREACHERS VR</h2>
        <div id="breacherlogo">
            <img src="{{ url_for('static', filename='images/BreachersLogo_Transparant.png') }}">
        </div>

        <!-- Update the action attribute to point to your login route -->
        <form method="POST" action="{{ url_for('RCL_Login_Screen') }}" id="loginForm">
            <!-- Username field -->
            <div class="user-box">
                <input type="text" class="form-control" name="username" required>
                <label for="username" class="form-label">Username</label>
            </div>
            <!-- Password field -->
            <div class="user-box">
                <input type="password" class="form-control" name="password" required>
                <label for="password" class="form-label">Password</label>
            </div>
            <!-- Submit button -->
            <a href="javascript:void(0);" onclick="document.getElementById('loginForm').submit();" class="styled-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
            </a>
            <!-- Link for Forgot Password -->
            <div class="signup-message">
                <a href="#">Forgot your password?</a>
            </div>
        </form>
        <!-- Ensure this points to your sign-up route -->
        <p>Don't have an account? <a href="{{ url_for('RCL_Signup_Screen') }}">Sign Up</a></p>
    </div>
</body>
{% endblock %}
 
{% block footer %}
  <!-- Footer Content -->
  {% endblock %}