<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Main Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<header class="header">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('RCL_Home_Screen') }}">RCL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Home_Screen') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Login_Screen') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Forgot_Password_Screen') }}">Forgot Password</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Signup_Screen') }}">Sign Up</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Tournament_Screen') }}">Tournaments</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_League_Screen') }}">Leagues</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Matches_Screen') }}">Matches</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Player_Profile_Screen') }}">Player Profile</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Player_Ranking_Screen') }}">Player Ranking</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Recruitment_Centre_Screen') }}">Recruitment Centre</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_My_Account_Screen') }}">My Account</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Team_Management_Screen') }}">Team Management</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Team_Profile_Screen') }}">Team Profile</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Team_Ranking_Screen') }}">Team Ranking</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Subcription_Screen') }}">Subscription</a>
                    <a class="nav-item nav-link" href="{{ url_for('RCL_Eagle_Eye_Screen') }}">Eagle Eye</a>
                </div>
            </div>
        </div>
    </nav>
  </header>


<body>
    
    <div class="myprofile">
        <a href="#">My Profile</a>
    </div>

    <div class="layout">
        <div class="profile">
            <div class="profile__picture"><img src="images/Enforcer_01.png" alt="ananddavis" /></div>
            <div class="profile__header">
                <div class="profile__account">
                    <h4 class="profile__username">HendrickDaKiller</h4>
                </div>
                <div class="profile__edit"><a class="profile__button" href="#">Edit Profile</a></div>
            </div>
            <div class="profile__stats">
                <div class="profile__stat">
                    <div class="profile__icon profile__icon--gold"><i class="fas fa-wallet"></i></div>
                    <div class="profile__value">47
                        <div class="profile__key">Wallet Coins</div>
                    </div>
                </div>
                <div class="profile__stat">
                    <div class="profile__icon profile__icon--blue"><i class="fas fa-signal"></i></div>
                    <div class="profile__value">357
                        <div class="profile__key">Ranking</div>
                    </div>
                </div>
                <div class="profile__stat">
                    <div class="profile__icon profile__icon--pink"><i class="fas fa-heart"></i></div>
                    <div class="profile__value">4
                        <div class="profile__key">Games Played</div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
