<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- Main Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title>{% block title %}{% endblock %}</title>
</head>
{% include 'RCL_Header_Template.html' %}
</head>
<body>

    {% block content %}
    <!-- HTML content here -->
    {% endblock %}

    {% include 'RCL_Footer_Template.html' %}
</html>