<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

<div class="login-box">
    <h2>BREACHERS VR</h2>
    <div id="breacherlogo"><img src="{{ url_for('static', filename='images/BreachersLogo_Transparant.png') }}"></div>

    <!-- Updated form action, method, and id -->
    <form action="{{ url_for('PYTHON FUNCTION REQUIRED') }}" method="post" id="registerForm">
        <!-- Email field -->
        <div class="user-box">
            <input type="email" class="form-control" id="email" name="email" required>
            <label for="email" class="form-label">Email</label>
        </div>
        <!-- Submit button -->
        <a href="javascript:void(0);" onclick="document.getElementById('registerForm').submit();" class="styled-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Reset Password
        </a>
        <a href="javascript:void(0);" onclick="document.getElementById('registerForm').submit();" class="styled-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Back
        </a>

    </form>
</div>

</body>
