<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Last Match Results</title>
</head>
<body>
    <h1>Last Match Results</h1>
    {% if matches_data %}
        {% for match in matches_data %}
            <form method="post" action="{{ url_for('upload') }}">
                <input type="hidden" name="tournament" value="{{ tournament_id }}">
                <input type="hidden" name="stage" value="lastMatch">
                <input type="hidden" name="match_id" value="{{ match.match_id }}">
                <input type="hidden" name="team1" value="{{ match.team1_id }}">
                <input type="hidden" name="team2" value="{{ match.team2_id }}">

                <p>Match: Team {{ match.team1_id }} vs Team {{ match.team2_id }}</p>
                <label>Team 1 Score:</label>
                <input type="number" name="team1_score" required><br><br>

                <label>Team 2 Score:</label>
                <input type="number" name="team2_score" required><br><br>

                <label>Winner Team ID:</label>
                <input type="number" name="winner_team_id" required><br><br>

                <input type="submit" value="Submit Match Result">
            </form>
        {% endfor %}
    {% else %}
        <p>No matches to display.</p>
    {% endif %}


      <!-- Display flash messages -->
{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}

</body>
</html>
